<a href="https://colab.research.google.com/github/melanievg15/OptativaProfesionalizante1/blob/main/Ejercicio_1_Serie_DF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Ejercicio 1**

###Teoria

Explicación de Series y DataFrames Diferencias y usos de cada estructura

In [1]:
import pandas as pd
import numpy as np

#**Creación de una Serie**

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print("Serie:")
print(s)

Serie:
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

#**Crear un DataFrame**

In [5]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': pd.Timestamp('20230101'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train"]),
    'F': 'foo'
})

print("\nDataFrame:")
print(df)

DataFrame:
   A          B    C  D      E    F
0  1 2023-01-01  1.0  3   test  foo
1  2 2023-01-01  1.0  3  train  foo
2  3 2023-01-01  1.0  3   test  foo
3  4 2023-01-01  1.0  3  train  foo