<a href="https://colab.research.google.com/github/melanievg15/OptativaProfesionalizante1/blob/main/Uniones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Tipos de uniones (joins) en Python:**

**1. Inner Join**

In [1]:
import pandas as pd

#**Crear dos DataFrames**

In [3]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Nombre': ['Ana', 'Juan', 'María', 'Carlos'],
    'Departamento': ['Ventas', 'IT', 'Marketing', 'RH']
})

df2 = pd.DataFrame({
    'ID': [3, 4, 5, 6],
    'Salario': [50000, 60000, 55000, 65000]
})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

DataFrame 1:
   ID  Nombre Departamento
0   1     Ana       Ventas
1   2    Juan           IT
2   3   María    Marketing
3   4  Carlos           RH
DataFrame 2:
   ID  Salario
0   3    50000
1   4    60000
2   5    55000
3   6    65000

#**Fusión Inner**

In [4]:
inner_merge = pd.merge(df1, df2, on='ID', how='inner')
print("\nFusión inner:")
print(inner_merge)

Fusión inner:
   ID  Nombre Departamento  Salario
0   3   María    Marketing    50000
1   4  Carlos           RH    60000

#**Fusión outer**

In [6]:
outer_merge = pd.merge(df1, df2, on='ID', how='outer')
print("\nFusión outer")
print(outer_merge)

Fusión outer
   ID  Nombre Departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   María    Marketing  50000.0
3   4  Carlos           RH  60000.0
4   5     NaN          NaN  55000.0
5   6     NaN          NaN  65000.0

#**Fusión Left**

In [7]:
left_merge = pd.merge(df1, df2, on='ID', how='left')
print("\nFusión outer")
print(left_merge)

Fusión outer
   ID  Nombre Departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   María    Marketing  50000.0
3   4  Carlos           RH  60000.0

#**Fusión Right**

In [8]:
right_merge = pd.merge(df1, df2, on='ID', how='right')
print("\nFusión outer")
print(right_merge)

Fusión outer
   ID  Nombre Departamento  Salario
0   3   María    Marketing    50000
1   4  Carlos           RH    60000
2   5     NaN          NaN    55000
3   6     NaN          NaN    65000

#**Concatenación**

In [10]:
df3 = pd.DataFrame({
    'ID': [7, 8],
    'Nombre': ['Sofía', 'Pedro'],
    'Departamento': ['Finanzas', 'Ventas']
})

concatenated1 = pd.concat([df1, df3])
print("\nConcatenación de DataFrames:")
print(concatenated1)

Concatenación de DataFrames:
   ID  Nombre Departamento
0   1     Ana       Ventas
1   2    Juan           IT
2   3   María    Marketing
3   4  Carlos           RH
0   7   Sofía     Finanzas
1   8   Pedro       Ventas

In [11]:
concatenated2 = pd.concat([df2, df3])
print("\nConcatenación de DataFrames:")
print(concatenated2)

Concatenación de DataFrames:
   ID  Salario Nombre Departamento
0   3  50000.0    NaN          NaN
1   4  60000.0    NaN          NaN
2   5  55000.0    NaN          NaN
3   6  65000.0    NaN          NaN
0   7      NaN  Sofía     Finanzas
1   8      NaN  Pedro       Ventas